---
import Layout from "../layouts/Layout.astro";
import BootcampUI from "../components/Bootcamp.astro";
import event from "../data/event.json";
---

<Layout filename="bootcamp_tech_fest.js">
  <div class="max-w-2xl mx-auto p-6">
    <BootcampUI bootcamp={event.bootcamp} event={event} />
  </div>
</Layout>
