---
import Layout from "../layouts/Layout.astro";
import HackathonUI from "../components/Hackathon.astro";
import event from "../data/event.json";
---

<Layout filename="hackathon_tech_fest.js">
  <div class="max-w-2xl mx-auto p-6">
    <HackathonUI hackathon={event.hackathon} event={event} />
  </div>
</Layout>
