---
const { cta } = Astro.props;
---

<section class="text-center mt-10">
  <a
    href={cta.href}
    class="inline-block bg-accent text-gray-900 font-bold py-3 px-8 rounded-lg text-lg hover:bg-violet-400 transition-colors duration-300 shadow-lg"
  >
    {cta.text}
  </a>
  <p class="comment mt-3 text-sm">// ¡Esperamos tu participación!</p>
</section>
