---
const { meta } = Astro.props;
---

<footer class="text-center mt-10 pt-6 border-t border-gray-700 text-gray-400">
  <p class="mb-2">
    Sigue el evento en: @softwareuleam - @asofcvt - @club.ia.uleam
  </p>
  <p>Universidad Laica Eloy Alfaro de Manabi | FCVT</p>
</footer>
