---
const { event } = Astro.props;
---

<div class="terminal-block">
  <p>
    <span class="command">&gt; schedule:</span>
    <span class="value">[</span>
  </p>
  {
    event.schedule.map((item: any, idx: number) => (
      <>
        <p class="pl-4">
          <span class="value">{`{`}</span>
        </p>
        <p class="pl-8">
          <>
            <span class="key">"day"</span>
            <span class="value">: </span>
            <span class="string">"{item.date}"</span>
            <span class="value">,</span>
          </>
        </p>
        <p class="pl-8">
          <>
            <span class="key">"event"</span>
            <span class="value">: </span>
            <span class="string">"{item.description}"</span>
          </>
        </p>
        <p class="pl-4">
          <span class="value">
            {idx < event.schedule.length - 1 ? "}," : "}"}
          </span>
        </p>
      </>
    ))
  }
  <p><span class="value">],</span></p>

  <p>
    <span class="command">&gt; speakers:</span>
    <span class="value loading-animation"
      >{event.speakers.length ? event.speakers.join(", ") : "Loading..."}</span
    >
  </p>
  <p>
    <span class="command">&gt; sponsors:</span>
    <span class="value loading-animation"
      >{event.sponsors.length ? event.sponsors.join(", ") : "Loading..."}</span
    >
  </p>
  <p>
    <span class="command">&gt; location:</span>
    <span class="value">{event.meta.location}</span>
  </p>
  <p>
    <span class="command">&gt; city:</span>
    <span class="value">{event.meta.city}</span>
  </p>
</div>
